{% extends 'base.html' %}

{% block content %}
    <h2>Crea il tuo Account</h2>
    <form method="post">
        <div style="margin-bottom: 10px;">
            <label>Nome Utente:</label><br>
            <input name="nome_utente" required>
        </div>
        <div style="margin-bottom: 10px;">
            <label>Password:</label><br>
            <input type="password" name="password" required>
        </div>
        <button type="submit" style="background: #00796b; color: white; border: none; padding: 10px 20px; cursor: pointer;">Crea Account</button>
    </form>
{% endblock %}